.nav{
    flex: 1;
    padding: 2%;
    text-align: right;
    background: linear-gradient(rgb(250, 246, 247),rgb(177, 173, 174));
}
.nav ul li{
    
    list-style: none;
    display: inline-table;
    margin-right: 30px;
}
.nav ul li a{
    color: black;
    text-decoration: none;
    
}

div a{
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}
.fix_head{
    position: fixed;
    width: 100%;
    top:0;
    
}
body{
    max-width: 100%;
    margin: 4%;
    
}

section{
    left: 0px;
    margin-bottom: 30pc;
}